{
  "presets": [
    "env",
    "stage-3"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "ignore":[
    "node_modules"
  ],
  "env": {
    "build": {
      "optional": [
        "optimisation",
        "minification"
      ]
    }
  }
}